rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // General rule allowing public read for portfolio display, and write for contact submission and CRUD operations.
    match /profile/{profileId} {
      allow read, write: if true;
    }
    match /skills/{skillId} {
      allow read, write: if true;
    }
    match /achievements/{achievementId} {
      allow read, write: if true;
    }
    match /awards/{awardId} {
      allow read, write: if true;
    }
    match /projects/{projectId} {
      allow read, write: if true;
    }
    match /socials/{socialsId} {
      allow read, write: if true;
    }
    match /contacts/{contactId} {
      allow read, write: if true;
    }
    
    // Default catch-all
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
